__pycache__/
*.py[cod]
.venv/
.env
.pytest_cache/
.ruff_cache/
data/raw/*
data/processed/*
data/vector_store/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/vector_store/.gitkeep
logs/
.DS_Store
.ipynb_checkpoints/
